<% unless checklist.title.blank? %>
  <tr id="checklist-<%= checklist.id  %>">
    <td><%= index + 1  %>. <%= checklist.title %></td>
    <td><%= time_ago_in_words(checklist.created_at) %> old</td>
    <td>
      <%= link_to(
        checklist,
        method: :delete,
        :class => "btn btn-info pull-right",
        :data => {
          :toggle => "tooltip",
          :placement => "top",
          :title => "Complete & Delete Item"},
        remote: true) do %>
        <i class="glyphicon glyphicon-ok"></i>
      <% end %>
    </td>
  </tr>
<% end %>
